.container{
    background-color: var(--bgSoft);

}

.list{
  text-decoration: none;
  list-style: none;
}

.list li{
    display:flex;
    gap:10px;
    padding:10px;
    align-items: center;
}

.list li:hover{
  background-color: #ece6e2;
}

.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    margin-bottom: 50px;


}

.title h2{
    /* font-weight: 700; */
}