.container{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    background-color: #e9e9e9;
    padding:10px;

}
.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:20px; */
    
}
.upSection p{
    font-size:16px;
    font-weight: 550;
}

.upSection span{
    color: #8e817f;
    font-size: 14px;
}

.icon{
    background-color: #FFF;
    border-radius: 50%;
    padding:10px;
}

.avatarImage{
    display: flex;
}

.avatarImage span{
    border-radius: 50%;
    background-color: #FFF;
    font-size: 10px;
    padding:5px;
}

.avContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.overlap{
    margin-left:-1px;
    z-index: 1;
}

.rating{
    font-size: 10px;
    background-color: #e9d8cd;
    padding:2px 6px;
    border-radius: 5px;
}