@import "tailwindcss";

:root {
  --bg: rgb(250, 246, 242);
  --bgSoft: rgb(255, 255, 255);
  --text:#333333;
  --textsoft:#989091
}


body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
