.container{
    flex:4;
    background-color: #FFF;
    padding:40px;
}

.container table{
  width:100%;
}

.title{
    font-size: 25;
}

.text{
    font-size:15;
    opacity: 0.5;
}

.table thead{
    background-color: var(--bg);
    opacity:0.5;
}

.table td{
    padding:15px;
}

.icons{
    display:flex;
    align-items: center;
    gap:10px;
}

.tableIcons{
    background-color: #f9f3f0;
    color:#8e817f;
    padding:10px;
}

.textWrap{
    display: flex;
    flex-direction: column;
}

.textWrap span{
    color: #8e817f;
    font-size: 14px;
}