.container{
    position:relative;
    background: #DFD7D1;
    background: linear-gradient(90deg, rgba(223, 215, 209, 1) 21%,rgba(242, 217, 200, 1) 61%,rgba(242, 217, 200, 1) 100%,rgba(242, 217, 200, 1) 51%,rgba(244, 235, 235, 1) 100%);
    padding:40px;
    width: 100%;
    /* margin: 50px 2px; */
   
}

.title{
    font-weight: 899;
}
.image{
    position:absolute; 
    right:0;
    bottom: 0; 
    width: 70%;
    height: 70%;
}

.cont{
  font-size: 30;
  text-align: left;
  display:flex;
  flex-direction: column;
  font-weight: 800;
  margin-top: 50px;
}

.icons{
    margin-top: 100px;
    display:flex;
    align-items: center;
    gap:10px;
}

.icons span{
    padding:10px;
    background-color: #FFFFFF;
    border-radius: 50%;
}


.overlap {
    margin-left: -20px; /* This creates the overlap */
    z-index: 1;         /* Ensures the second icon stays on top */
  }