.dashcontainer{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.container{
    display:flex;
    gap:20px;
    justify-content: space-between;
}

.menu{
    flex:1;
    background-color: var(--bgSoft);
    padding:20px;
    min-height: 100vh;
}

.content{
    flex:7;
    padding:20px;
}

.mainContent{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:20px;
}


